<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Github Issues Viewer</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://cloud.github.com/downloads/jaubourg/jquery-jsonp/jquery.jsonp-2.4.0.min.js"></script>
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
</head>
<body>
  <!-- navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="brand"><strong>Issues Viewer</strong></a>
      </div>
    </div>
  </div>
  
  <!-- content -->
  <div class="container" id="container">
    <h1>Github Issues Viewer: rails/rails</h1>
    <button class="btn prev">Prev</button>
    <button class="btn next">Next</button>
    <table class="table table-striped table-bordered" id="issues-list">
      <tr style="text-align:center;">
        <th class="id">#</th>
        <th class="issue">Issue</th>
        <th class="user">Submitted by</th>
      </tr>
      <tr>
        <td><center>####</center></td>
        <td>
          <strong class="title">OMG AN ISSUE  </strong>
          <strong class="labels">[ label1, label2, label3 ]</strong>
          <br>
          <p class="description">
            a 140 char description goes here.
          </p>
        </td>
        <td><center><img src="https://secure.gravatar.com/avatar/0fa724a5dc487a85bdaeb541ac53c67d?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="40px;" /><br>abekim</center></td>
      </tr>
    </table>
    <button class="btn prev">Prev</button>
    <button class="btn next">Next</button>
  </div>

  <!-- footer -->
  <footer style="margin-top: 20px" class="footer">
    <div class="container">
      <p class="pull-right">
        <a href="#">Back to top</a>
      </p>
      <p>@ 2013 Eun Abe Kim</p>
    </div>
  </footer>

  <!-- templates -->
  <script type="text/template" id="issue-template">
    <td><center><%= number %></center></td>
    <td>
      <strong class="title"><%= title %>  </strong>
      <% if (labels.length) { %>
        <% var lb = labels[0].name; %>
        <% _.each(labels, function(label) { %>
          <% if (label.name != lb) { lb = lb + ', ' + label.name; } %>
        <% }); %>
        <strong class="labels">[ <%= lb %> ]</strong>
      <% } %>
      <br>
      <% if (body.length) { %>
        <p class="description">
          <% if (body.length >= 140) { %>
            <% var msg = body.substring(0, 140); %>
            <% var index = msg.lastIndexOf(' '); %>
          <% } else { var msg = body }%>
          <%= msg %>
        </p>
      <% } %>
    </td>
    <td><center><img src="<%= user.avatar_url %>" width="40px;" /><br><%= user.login %></center></td>
  </script>

  <!-- load js -->
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src="assets/lodash.min.js"></script>
  <script src="lib/backbone.js"></script>
  <script src="lib/backbone.localStorage.js"></script>
  <script src="models/issue.js"></script>
  <script src="collections/issues.js"></script>
  <script src="views/issueView.js"></script>
  <script src="views/appView.js"></script>
  <script src="app.js"></script>
</body>
</html>