.id {
  width: 5%;
}

.issue {
  width: 80%;
}

.user {
  width: 15%;
}

table {
  margin-top: 20px;
}

th {
  text-align: center !important;
}

footer {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}

.next {
  float: right;
}

.hidden {
  display: none;
}

.labels {
  color: #777777;
}

.title {
  font-size: 18px;
  line-height: 24px;
}

.description {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: normal;
  line-height: 20px;
}

.inv {
  visibility: hidden;
}

.hero-unit {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#requestor {
  margin-bottom: 30px;
}

.comments {
  background-color: #eee;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}