/*-- css for table --*/
.id {
  width: 5%;
}

.issue {
  width: 80%;
}

.user {
  width: 15%;
}

table {
  margin-top: 20px;
}

th {
  text-align: center !important;
}

/*-- css for next button (pull-right) --*/
.next {
  float: right;
}

/*-- css for labels, titles, & descriptions of issues --*/
.labels {
  color: #777777;
}

.title {
  font-size: 18px;
  line-height: 24px;
}

.description {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: normal;
  line-height: 20px;
}

/*-- css for details page --*/
.hero-unit {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
  font-size: 12pt;
}

#head {
  margin-bottom: 20px;
}

#requestor {
  margin-bottom: 30px;
}

.comment {
  margin-bottom: 20px;
}

.comments {
  background-color: #eee;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.state {
  cursor: default;
}

/*-- instead of using .hidden, which sets display:none;
        use visibility: hidden; for layout purposes--*/
.inv {
  visibility: hidden;
}

/*-- my attempt at distinguishing the markdown --*/
coded {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #0033cc;
  font-weight: bold;
}

/*-- footer --*/
footer {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}